@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/rubik.ttf');
}

@font-face {
  font-family: 'Boxyrnd';
  src: url('/fonts/boxyrnd.ttf');
}

@font-face {
  font-family: 'Asphalt-С';
  src: url('/fonts/asphalt-c.ttf');
}

@font-face {
  font-family: 'Play';
  src: url('/fonts/Play-Regular.ttf');
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

body {
  font-family: Play;
}
